$accent: #0c2849;
$accent-secondary: #3f98d3;

$bg-primary: #ffffff;
$bg-primary-dark: #0c2849;

$border-color :#cacaca;

$text-primary: #0c2849;
$text-primary_light: #becedf;
$text-secondary: #3f98d3;
$text-secondary-light: #2cc4f3;
$text-accent: #f1852f;

$font-main-normal: 18px;
$font-xlarge: 40px;
$font-large: 32px;
$font-small: 16px;
