.about {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 50px 0 25px 0;
  color: $text-primary;

  h2 {
    font-weight: bold;
    font-size: $font-large;
  }
}

.about__description {
  padding: 0 15px;
  font-size: 18px;
}