.layouts {
  display: flex;
  flex-direction: row;
  padding-top: 32px;
  gap: 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid $border-color;
}

.imageWrapper {
  flex: 1;
  aspect-ratio: 16 / 10;
  overflow: hidden;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.category {
  font-size: $font-small;
  font-weight: bold;
  color: $text-primary_light;
  margin: 0;
}

.description {
  color: $text-primary;
  flex: 1;
  font-size: $font-large;
  line-height: 1.4;
  margin: 0;
  overflow: hidden;
}

.descriptionWrapper {
  border-bottom: 1px solid $border-color;
}