.servicesList {
  padding: 32px 0 0 0;
  text-transform: uppercase;
  color: $text-primary;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.servicesList__text {
  font-size: $font-main-normal;
  font-weight: 600;
}