.servicesDescription {
  padding-top: 42px;
  display: flex;
  flex-direction: column;

  h2 {
    text-transform: uppercase;
    font-size: $font-xlarge;
    color: $text-accent;
  }

  img {
    flex: 1;
    height: 400px;
    object-position: center;
  }
}

.servicesDescription__layout {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  gap: 25px;
  color: $text-primary;
  font-size: $font-main-normal;
}

.servicesDescription__layout__text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}