.header {
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 1170px;
  background-color: $bg-primary;
  z-index: 1;
}

.header_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px 45px;
  height: $header-height;

  @media (max-width: $media-tablet) {
    border-bottom: 2px $bg-primary-dark solid;
  }
}

.logo {
  color: $bg-primary-dark;
}

.header__nav {
  background-color: $accent;
  color: $text-primary_light;
  font-size: $font-small;

  @media (max-width: $media-tablet) {
    position: absolute;
    height: calc(100svh - $header-height);
    width: 100%;
    padding: 20px;

    &_active {
      display: block;
    }

    &_no_active {
      display: none;
    }
  }
}

.burger {
  display: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  font: inherit;
  color: inherit;

  cursor: pointer;

  @media (max-width: $media-tablet) {
    display: block;
  }
}

.items_list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;

  li {
    width: 100%;
  }

  @media (max-width: $media-tablet) {
    flex-direction: column;
    align-items: self-start;
    gap: 20px;
  }
}