.productCard {
  background: center / cover no-repeat;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  border: 1px solid $border-color;
  padding: 10px 20px;

  p {
    color: $text-primary;
    font-weight: 500;
    font-size: 24px;
  }

  img {
    width: 100%;
  }
}