.homePage {
  width: 100%;
  height: 570px;
  background:
      center / cover no-repeat
      url('../../assets/img/bg-home.png');
}

.homePage__text {
  color: $text-primary_light;
  padding: 140px 0 0 100px;

  h1 {
    font-size: $font-xlarge;
    font-weight: bold;
  }

  p {
    font-size: $font-large;
  }
}