.productCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.category {
  font-size: $font-small;
  font-weight: bold;
  color: $text-primary_light;
  margin: 0;
}

.description {
  color: $text-primary;
  flex: 1;
  font-size: $font-main-normal;
  line-height: 1.4;
  margin: 0;
  overflow: hidden;
}

.imageWrapper {
  aspect-ratio: 16 / 10;
  overflow: hidden;
  width: 100%;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;

  .productCard:hover & {
    transform: scale(1.05);
  }
}

.content {
  flex: 1;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.link {
  display: flex;
  text-decoration: none;
  color: inherit;
}