.button {
  padding: 0.75rem 1.5rem;
  font-size: $font-main-normal;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover {
    outline: 2px solid $border-color;
    outline-offset: 2px;
  }

  &:focus-visible {
    outline: 2px solid $border-color;
    outline-offset: 2px;
  }

  &__primary {
    background: $accent-secondary;
    color: $text-button;
  }

  &__secondary {
    background: $text-accent;
    color: $text-primary;
  }
}

.content {

}