.header {
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 1170px;
  background-color: $bg-primary;
  z-index: 1;
}

.header_container {
  padding: 25px 45px;
}

.logo {
  color: $bg-primary-dark;
}

.header__nav {
  background-color: $accent;
  color: $text-primary_light;
  font-size: $font-small;
}

.items_list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}